<div style="font-family: Helvetica,Arial,sans-serif;width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #49AFF1;text-decoration:none;font-weight:600">Monga</a>
        </div>
        <p style="font-size:1.1em">Hi,</p>
        <p>Please click the button below to verify your email address.</p>
        <a href="{{url}}" class="m_-5595061683766666463button" rel="noopener" style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';border-radius:4px;color:#fff;display:inline-block;overflow:hidden;text-decoration:none;background-color:#49AFF1;border-bottom:8px solid #49AFF1;border-left:18px solid #49AFF1;border-right:18px solid #49AFF1;border-top:8px solid #49AFF1" target="_blank" >Verify Email Address</a>
        <p>If you did not create an account, no further action is required.</p>

        <p style="font-size:0.9em;">Regards,<br />Monga team</p>
        <hr/>
        <p>
            If you're having trouble clicking the "Verify Email Address" button, copy and paste the URL below into your web browser: <a href="{{url}}">{{url}}</a></p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Yafira Digital Technology Inc</p>
            <p>Jakarta</p>
        </div>
    </div>
</div>