<div style="font-family: Helvetica,Arial,sans-serif;width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #49AFF1;text-decoration:none;font-weight:600">Monga</a>
      </div>
      <p style="font-size:1.1em">Hi,</p>
      <p>Here is your account activation code : </p>
      <h2 style="background: #49AFF1;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{pin}}</h2>
      <p>Activation code is valid for 30 minutes</p>
      <p>Security Tips:</p>
      <ul>
      <li>Never give your password to anyone.</li>
      <li>Never call any phone number for someone claiming to be Monga Support.</li>
      <li>Never send any money to anyone claiming to be a member of Monga team.</li>
      </ul>
      <p style="font-size:0.9em;">Regards,<br />Monga team</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Yafira Digital Technology Inc</p>
        <p>Jakarta</p>
      </div>
    </div>
  </div>